<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-row style="border-bottom: groove">
    <ion-col col-4>
      <ion-label>Id</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label>State</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label>OutPut</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove" *ngFor="let job of jobs">
    <ion-col col-4>
      <ion-label>{{job.uid}}</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label>{{job.state}}</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label>{{job.output}}</ion-label>
    </ion-col>
  </ion-row> -->

  <ion-grid fixed>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">State</th>
          <th scope="col">Render Progress</th>
          <th scope="col">Encode Progress</th>
          <th scope="col">Output</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs">
          <th scope="row">{{job?.uid}}</th>
          <td>{{job?.state}}</td>
          <td *ngIf="job?.renderProgress">
            <progress-bar
              [progress]="job?.renderProgress"
              [color-degraded]="{'0': '#154360',  '15': '#1B4F72', '25': '#21618C', '40': '#2874A6', '55': '#148F77', '70': '#117864', '85': '#0E6251', '100': '#0B5345'}"
            >
            </progress-bar>
          </td>
          <td *ngIf="job?.encodeProgress">
            <progress-bar
              [progress]="job?.encodeProgress"
              [color-degraded]="{'0': '#154360',  '15': '#1B4F72', '25': '#21618C', '40': '#2874A6', '55': '#148F77', '70': '#117864', '85': '#0E6251', '100': '#0B5345'}"
            >
            </progress-bar>
          </td>
          <td *ngIf="!job?.renderProgress">
            <progress-bar
              [progress]="0"
              [color-degraded]="{'0': '#154360',  '15': '#1B4F72', '25': '#21618C', '40': '#2874A6', '55': '#148F77', '70': '#117864', '85': '#0E6251', '100': '#0B5345'}"
            >
            </progress-bar>
          </td>
          <td *ngIf="!job?.encodeProgress">
            <progress-bar
              [progress]="0"
              [color-degraded]="{'0': '#154360',  '15': '#1B4F72', '25': '#21618C', '40': '#2874A6', '55': '#148F77', '70': '#117864', '85': '#0E6251', '100': '#0B5345'}"
            >
            </progress-bar>
          </td>
          <td>
            <a href="{{'http://localhost:3000/static/' + job.downloadAvi}}" download="result" target="blank"
              ><button
                *ngIf="job?.encodeProgress == 100"
                class="btn btn-primary"
              >
                Donwload - avi
              </button></a
            >
            <a href="{{'http://localhost:3000/static/' + job.downloadMp4}}" download="result" target="blank"
              ><button
                *ngIf="job?.encodeProgress == 100"
                class="btn btn-primary"
              >
                Donwload - mp4
              </button></a
            >
          </td>
          <td><button (click)="deleteJob(job.uid)" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </ion-grid>
</ion-content>
