<ion-header>
  <ion-toolbar>
    <ion-title>upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required formControlName="email" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required formControlName="password" type="text"></ion-input>
  </ion-item>
  <ion-button block color="primary" type="submit" [disabled]="loginForm.invalid">
    Login
  </ion-button>
</form> -->
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <ion-grid fixed>
      <ion-list>
        <!-- <ion-radio-group value="img1">
          <ion-list-header>
            <ion-label>Musica</ion-label>
          </ion-list-header>
          <ion-row>
            <ion-col size="6" *ngFor="let imagem of imagens">
              <ion-item (click)="onRadioChangeImagem($event)">
                <ion-label
                  ><img src="{{imagem.path}}" width="150" alt="" srcset=""
                /></ion-label>
                <ion-radio slot="start" value="{{imagem.value}}"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group> -->

        <ion-list>
          <ion-radio-group name="auto" value="tesla">
            <ion-list-header>
              <ion-label>Audio</ion-label>
            </ion-list-header>
            <ion-row>
              <ion-col size="6" *ngFor="let musica of musicas">
                <ion-item (click)="onRadioChangeMusica($event)">
                  <ion-label
                    ><audio controls>
                      <source src="{{musica.path}}" type="audio/ogg" /></audio
                  ></ion-label>
                  <ion-radio slot="start" value="{{musica.value}}"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>
        </ion-list>
      </ion-list>

      <!-- <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label>Texto de validação</ion-label>
            <ion-input type="text" formControlName="texto"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>Cor do texto</ion-label>
            <ion-select multiple="false" placeholder="Selecione uma cor" formControlName="cor">
              <ion-select-option value="b">Azul</ion-select-option>
              <ion-select-option value="g">Verde</ion-select-option>
              <ion-select-option value="r">Vermelho</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  id="inputGroupFile02"
                  (change)="onChangeUpload($event)"
                  multiple
                />
                <label
                  class="custom-file-label"
                  for="inputGroupFile02"
                  id="customFileLabel"
                  >Escolher arquivo</label
                >
              </div>
              <div class="input-group-append">
                <button
                  class="input-group-text"
                  type="button"
                  (click)="onUpload(selectedFile)"
                  [disabled]="selectedFile == null"
                >
                  Upload
                </button>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-button
            block
            color="primary"
            type="submit"
            [disabled]="(uploadedCsvFile == null || uploadedTemplateFile == null)"
          >
            Renderizar
          </ion-button></ion-col
        >
        <ion-col size="6">
          <ion-button
            block
            color="warning"
            [routerLink]="['/dashboard']"
            routerLinkActive="router-link-active"
          >
            Dashboard
          </ion-button></ion-col
        >
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
